# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv
env
.venv/
.env/
.env

# IDE configuration files
.idea/
.vscode/

# Secrets / Sensitive configuration
config.ini
*.pem

# Temporary audio files (if saving intermediately)
*.wav

# Ignore log files
*.log
**/*.log

# Ignore build files
build/
dist/
*.dist-info
*.egg-info
*.egg
*.dmg
*.eggs/*
.DS_Store
*.zip
dmg-layout.applescript